.card {
  border: 1px solid;
  border: 1px solid #d0d7de;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  font-size: 0.875rem;    
  display: flex;
  align-items: center;
}
.imgWrap{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
