.header {
  height: 64px;
  display: flex;
  color: rgba(0, 0, 0, 0.4);
  background-color: #f6f8fa;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.08);
}
.container {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 30px;
}
.title{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  transition: 0.3s;

  &:hover{
    opacity: 0.8;
    transition: 0.3s;
  }
}
